@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: poppins, sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
